.butt {
    background-color: #1b1b1d;
    color: white;
    border: none;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;
    height: 25px;
    width: 65px;
}
    
.butt:hover:hover {
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5);
}

.text {
    color: white;
    margin-bottom: 0px;
    padding: 16px;
    margin-top: 16px;
}

.input {
    background-color: #161617;
    border: none;
    color: white;
    height: 25px;
    margin-left: 16px;
}